.B{
    background-image: url("image/background.jpeg");
    background-size: 100%;
    background-position-y: -93px;
}
#logo{
    width: 120px;
    margin-top: 10px;
    margin-left: 35px;
}
.list1{
    list-style: none;
    margin-left: 380px;
    margin-top: -15px;
}
.item1{
    display:inline;
    font-family: "Gotham";
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
}
@font-face {
    font-family: "Gotham";
    src: url("Gotham.woff2");
}
.list2{
    list-style: none;
    margin-left: 1150px;
    margin-top: -35px;
}
.item2{
    display:inline;
    font-family: "Gotham";
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
}