.B{
    background-image: url("image/background.jpeg");
    background-size: 100%;
    background-position-y: -93px;
}
#logo{
    width: 120px;
    margin-top: 10px;
    margin-left: 35px;
}
.list1{
    list-style: none;
    margin-left: 380px;
    margin-top: -15px;
}
.item1{
    display:inline;
    font-family: "Gotham";
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
}
@font-face {
    font-family: "Gotham";
    src: url("Gotham.woff2");
}
.list2{
    list-style: none;
    margin-left: 1150px;
    margin-top: -35px;
}
.item2{
    display:inline;
    font-family: "Gotham";
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
}
#p1{
    color: #fff;
    font-family: "Gotham";
    font-size: 40px;
    margin-left: 640px;
    margin-top: 80px;
    margin-bottom: 0px;
    font-weight: bold;
}
#p2{
    color: #fff;
    font-family: "Gotham";
    font-size: 17px;
    margin-left: 620px;
    margin-top: 0px;
    text-decoration: underline;
    padding-top: 3px;
    font-weight:lighter;
}
.div1{
    width: 1000px;
    height: 100px;
}
.li3{
    list-style: none;
}
.item3{
    display:inline-block;
    margin-left: 80px;
    text-align: center;
}
.div2{
    color: #fff;
    font-family: "Gotham";
    font-size: 25px;
    font-weight: bold;
}
.div3{
    color: #fff;
    font-family: "Gotham";
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
}
.div1{
    margin-top: 420px;
    margin-left: 270px;
}
.item4{
    margin-left: 606px;
    margin-top: -50px;
}
.btn{
    width: 200px;
    height: 40px;
    color: #fff;
    border: 3px solid #fff;
    background-color: unset;
    border-radius: 4px;
    font-weight: bold;
    font-family: "Gotham";
}